:root {
  --color-primary: #54d154;
  --color-primary-hover: #48b148;
  --color-dark: #1f1f1f; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: local("Proxima Nova Regular"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: local("Proxima Nova Light"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: local("Proxima Nova Bold"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Nautilus';
  src: local("Nautilus"), url("../fonts/Nautilus.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }
  .visually-hidden .visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey); }

.heading-primary {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 5.5rem;
  color: #fff; }

.heading-secondary {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 1.5rem;
  align-items: center;
  justify-items: center;
  padding: 1.5rem 10rem; }
  .heading-secondary--main {
    display: grid;
    grid-template-rows: max-content max-content;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 2rem; }
    .heading-secondary--main::after {
      content: "";
      display: block;
      width: 4rem;
      height: 2px;
      background-color: currentColor; }
  .heading-secondary--sub {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.6rem;
    display: block; }

.mb-md {
  margin-bottom: 3.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn--lg {
  background-color: var(--color-primary);
  text-transform: uppercase;
  color: #fff;
  font-family: 'Proxima Nova Rg';
  font-size: 2.2rem;
  padding: .7rem 3.5rem;
  border-radius: 10rem;
  margin-bottom: 30rem;
  transition: transform .2s; }
  .btn--lg:hover, .btn--lg:focus {
    outline: none;
    transform: translateY(-0.2rem);
    background-color: var(--color-primary-hover); }
  .btn--lg:active {
    transform: translateY(0.2rem); }

.btn--grey {
  background-color: rgba(255, 255, 255, 0.7);
  color: #1f1e1d;
  font-family: 'Proxima Nova Lt';
  font-size: 1.6rem;
  padding: .5rem 3rem .5rem 1rem;
  position: relative;
  border-radius: 3rem;
  margin-bottom: 1rem; }
  .btn--grey:hover, .btn--grey:focus {
    outline: none;
    transform: translateY(-0.2rem);
    background-color: rgba(255, 255, 255, 0.8); }
  .btn--grey:active {
    transform: translateY(0.2rem); }
  .btn--grey::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/shape-1.png);
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.4rem;
    right: 1rem;
    top: 1rem; }

.btn--sm {
  background-color: var(--color-primary);
  padding: .7rem 1.8rem;
  border-radius: 3rem;
  font-family: 'Proxima Nova Rg';
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff; }
  .btn--sm:hover, .btn--sm:focus {
    outline: none;
    transform: translateY(-0.2rem);
    background-color: var(--color-primary-hover); }
  .btn--sm:active {
    transform: translateY(0.2rem); }

.features__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 3rem; }

.features__item {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-row-gap: 2rem;
  align-items: center;
  justify-items: center; }
  .features__item::before {
    content: "";
    display: block;
    width: 8.6rem;
    height: 8.6rem; }
  .features__item:nth-child(1)::before {
    background: url(../img/Forma-1.png) no-repeat; }
  .features__item:nth-child(2)::before {
    background: url(../img/Forma-2.png) no-repeat; }
  .features__item:nth-child(3)::before {
    background: url(../img/Forma-3.png) no-repeat; }

.features__heading {
  font-family: 'Proxima Nova Rg';
  font-weight: 700;
  font-size: 2.4rem; }

.features__description {
  font-family: 'Proxima Nova Rg';
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0 3rem;
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr); }

.header {
  grid-column: 1 / -1;
  min-height: 78rem;
  padding: 1rem 3rem;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: top; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25rem; }
  .header__list {
    list-style: none;
    display: flex; }
  .header__item:not(:last-child) {
    margin-right: 2rem; }
  .header__link:link, .header__link:visited {
    display: inline-block;
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    transition: all .2s;
    position: relative; }
    .header__link:link:hover, .header__link:visited:hover {
      font-weight: 700; }
    .header__link:link::before, .header__link:visited::before {
      content: "";
      display: block;
      position: absolute;
      height: .5rem;
      left: 0;
      top: -0.7rem;
      background-color: var(--color-primary);
      transform: scaleX(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .header__link:link:hover::before, .header__link:visited:hover::before {
      width: 100%;
      transform: scaleX(1); }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.logo {
  flex: 0 0 18%; }
  .logo__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Nautilus';
    font-size: 2.4rem; }

.search {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: 'Proxima Nova Lt';
    font-size: 1.6rem;
    color: var(--color-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: .7rem 1.3rem;
    border-radius: 100px;
    margin-right: -2.5rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.9); }
  .search__button {
    border: none;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 1.3rem;
    width: 1.4rem;
    fill: var(--color-dark); }

.section-about {
  grid-column: 2 / span 10; }
