@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


@mixin font-weight($keyword) {
	font-weight: font-weight($keyword);
}

