.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, min-content);
}

.section-about {
    grid-column: 2 / span 10;
    padding: 2rem 0 6rem 0;
}

.portfolio {
    grid-column: 1 / -1;
    background-color: var(--color-primary);
    padding: 2rem 0 6rem 0;
}

.clients {
    grid-column: 1 / -1;
    background-color: var(--color-grey-light);
    padding: 2rem 0 6rem 0;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
} 