.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        border: none;
        cursor: pointer;
    }

    &--lg {
        background-color: var(--color-primary);
        text-transform: uppercase;
        color: #fff;
        font-family: 'Proxima Nova Rg';
        font-size: 2.2rem;
        padding: .7rem 3.5rem;
        border-radius: 10rem;
        margin-bottom: 30rem;
        transition: transform .2s;
        animation: moveInBottom 1s ease-out;

        &:hover,
        &:focus {
            outline: none;
            transform: translateY(-.2rem);
            background-color: var(--color-primary-hover);
        }

        &:active {
            transform: translateY(.2rem);
        }
    }

    &--grey {
        background-color: rgba(255, 255, 255, .7);
        color: #1f1e1d;
        font-family: 'Proxima Nova Lt';
        font-size: 1.6rem;
        padding: .5rem 3rem .5rem 1rem;
        position: relative;
        border-radius: 3rem;
        margin-bottom: 1rem;

        &:hover,
        &:focus {
            outline: none;
            transform: translateY(-.2rem);
            background-color: rgba(255, 255, 255, .8);
        }

        &:active {
            transform: translateY(.2rem);
        }

        &::after {
            @include pseudo;
            background-image: url(../img/shape-1.png);
            background-repeat: no-repeat;
            width: 1.3rem;
            height: 1.4rem;
            right: 1rem;
            top: 1rem;
        }
    }

    &--sm {
        background-color: var(--color-primary);
        padding: .7rem 1.8rem;
        border-radius: 3rem;
        font-family: 'Proxima Nova Rg';
        @include font-weight(bold);
        font-size: 1.6rem;
        color: #fff;

        &:hover,
        &:focus {
            outline: none;
            transform: translateY(-.2rem);
            background-color: var(--color-primary-hover);
        }

        &:active {
            transform: translateY(.2rem);
        }
    }

    &--view-more {
        background-color: #2b9b2b;
        padding: 1rem 3rem 1rem 1.8rem;
        border-radius: 2.5rem;
        font-family: 'Proxima Nova Rg';
        @include font-weight(normal);
        font-size: 1.8rem;
        color: #fff;
        position: relative;

        &:hover,
        &:focus {
            outline: none;
            transform: translateY(-.2rem);
            background-color: var(--color-dark-green);
        }

        &:active {
            transform: translateY(.2rem);
        }

        &::after {
            @include pseudo;
            background-image: url(../img/shape-2.png);
            background-repeat: no-repeat;
            width: 1.3rem;
            height: 1.4rem;
            right: 1rem;
            top: 2rem;
        }
    }
}


