.clients-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__wrapper {
        grid-column: 3 / span 8;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: 5rem;
    }

    &__item {
        width: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img:hover {
        opacity: .6;
    }
}