.gallery {
    display: grid;
    grid-template-columns: repeat(14, 1fr);

    &__wrapper {
        grid-column: 3 / span 10;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: 3rem;
    }
}