.team {

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
    }

    &__list {
        grid-column: 4 / span 8;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
        grid-gap: 3rem;
    }

    &__item {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 2rem;
        justify-items: center;
        align-content: center;
    }

    &__name {
        font-family: 'Proxima Nova Rg';
        @include font-weight(normal);
        color: #fff;
        font-size: 1.6rem;
    }

    &__photo-wrapper {
        width: 12.4rem;
        height: 12.4rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__photo {
        transform: scale(1.1);
        transition: transform .5s;

        &:hover {
            transform: scale(1);
        }
    }
}