.team {

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
    }

    &__list {
        grid-column: 4 / span 8;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
        grid-gap: 3rem;
    }

    &__item {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 2rem;
        justify-items: center;
        align-content: center;
    }

    &__name {
        font-family: 'Proxima Nova Rg';
        @include font-weight(normal);
        color: #fff;
        font-size: 1.6rem;
    }

    &__link {
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__icons {
        background-color: var(--color-grey-light);
        padding: .5rem;
        border-radius: 2rem;
    }

    &__icon {
        margin-top: .3rem;
    }
}