body {
    font-family: 'Montserrat', serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--color-grey);
}

.heading-primary {
    font-family: 'Montserrat';
    @include font-weight(bold);
    font-size: 5.5rem;
    color: #fff;
    animation: moveInLeft 1s ease-out;

    @include respond(tab-port) {
        font-size: 4rem;
    }
}

.heading-secondary {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-row-gap: 1.5rem;
    align-items: center;
    justify-items: center;
    padding: 1rem 3rem;

    &--main {
        display: grid;
        grid-template-rows: max-content max-content;
        align-items: center;
        justify-items: center;
        text-transform: uppercase;
        font-family: 'Montserrat';
        @include font-weight(light);
        font-size: 2rem;

        &::after {
            content: "";
            display: block;
            width: 4rem;
            height: 2px;
            background-color: currentColor;         
        }
    }

    &--sub {
        font-family: 'Montserrat';
        @include font-weight(light);
        font-size: 1.6rem;
        display: block;        
    }

    &--green {
        color: #207b20;
    }
}